mixin navigation(...items)
  nav.d-flex.px-3.py-4
    a.ms-1.me-auto.pe-3.text-white(href='/')
      +icon("logo")(width=15, height=25)
    ul.nav.nav-tabs.border-0(role="tablist")
      each item in items
        li.nav-item(role="presentation")

          -
            const { target, tabId, navText, icon } = navTab[item]
            const isActiveNav = currentPage === item ? true : false;
            const isCurrentChat = currentPage === "chat" && item === "current-chat"
            const btnClass = {
              "active": isActiveNav,
              "d-md-none": isCurrentChat,
            }

          a.nav-link.d-flex.flex-column.flex-xl-row.align-items-center.ps-3.py-0.pe-4.pe-md-3.border-0.text-light.bg-transparent(class=btnClass id=tabId, href=`#${target}`, data-bs-toggle="tab", data-bs-target=`#${target}`, role="tab", aria-controls=target)
            +icon(icon)(width=25, height=25)
            small.d-none.d-md-block.ms-2= navText