mixin tab-pane(type, data)
  -
    const { tabId, target, tabTitle, searchText, searchId, isActive } = data
    const tabPaneClass = {
      "show": isActive,
      "active": isActive,
    }

  section.tab-pane.hide-scrollbar.h-100.pt-5.px-4.fade(class=tabPaneClass, id=target, role="tabpanel", aria-labelledby=tabId)
    h2.fw-bold=tabTitle
    +search(searchText, searchId)
    case type
      when "contact"
        each contactGroup, letter in contacts
          article.mt-5
            h3.mb-4.h6.text-muted.fw-normal= letter
            +list(contactGroup, type)
      when "message"
      default
        -console.log('profile')
